<nav class="navbar navbar-expand navbar-dark primary-color">
  <div class="container">
    <a class="navbar-brand" [routerLink]="homePage()">
        <img src="../../assets/images/logos/icon-left-font-monochrome-white.svg" alt="" width="150" height="35">
    </a>
      <div class="d-grid gap-2 d-flex justify-content-end" *ngIf="!isAuth">
        <button type="button" routerLink="signup" class="btn btn-sm btn-outline-light me-2">Inscription</button>
        <button type="button" routerLink="login" class="btn btn-sm btn-light">Connexion</button>
      </div>
      <ul class="navbar-nav d-flex justify-content-end align-items-center" *ngIf="isAuth">
        <a class="nav-link-gp me-2" [routerLink]="viewProfil()">
          <img [src]="img_profil" class="img-profil">
        </a>
        <a class="nav-link-gp waves-effect waves-light me-2" [routerLink]="['/setting']">
          <i class="nav-ico fas fa-cogs"></i>
        </a>
        <a class="nav-link-gp waves-effect waves-light me-2" (click)="onLogout()">
          <i class="nav-ico fas fa-sign-out-alt"></i>
        </a>
      </ul>
  </div>
</nav>