<nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <div class="container">
    <a class="navbar-brand" *ngIf="!isAuth" routerLink="login">
        <img src="../../assets/images/logos/icon-left-font-monochrome-white.svg" alt="" width="150" height="35">
    </a>
    <a class="navbar-brand" *ngIf="isAuth" routerLink="accueil">
        <img src="../../assets/images/logos/icon-left-font-monochrome-white.svg" alt="" width="150" height="35">
    </a>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-end" *ngIf="!isAuth">
        <button type="button" routerLink="signup" class="btn btn-sm btn-outline-light me-2">Inscription</button>
        <button type="button" routerLink="login" class="btn btn-sm btn-light">Connexion</button>
      </div>
      <ul class="navbar-nav d-md-flex justify-content-end align-items-center" *ngIf="isAuth">
        <a class="nav-link waves-effect waves-light me-2">
            <i class="far fa-envelope"></i>
        </a>
        <a class="nav-link waves-effect waves-light me-2">
            <i class="far fa-bell"></i>
        </a>
        <li class="nav-item avatar">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../../assets/images/test.jpg" width="40" height="40" class="rounded-circle">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Dashboard</a>
            <a class="dropdown-item" href="#">Edit Profile</a>
            <a class="dropdown-item" href="#">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>