<div class="container mt-4 alert alert-danger alert-dismissible" style="max-width: 800px;" role="alert" *ngIf="errorMsg">
    {{ errorMsg }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="suprAlert()"></button>
  </div>

<div class="card text-center mx-auto mt-2" style="max-width: 800px;">
    <div class="card-body">
        <p class="card-title mt-1">Créer une publication</p>

        <form [formGroup]="uploadForm" (ngSubmit)="submit()">
            
            <div class="d-flex my-3">
                <div class="d-flex align-items-start">
                    <img src="../../assets/images/test.jpg" width="50" height="50" class="rounded-circle shadow">
                    <div class="ms-2 d-flex align-items-center gp-icon">
                        <i class="fas fa-angle-double-right prefix"></i>
                    </div>
                </div>
                <textarea placeholder="Exprimez vous..." formControlName="statut" maxlength="255" class="gp-textarea shadow-sm rounded ms-2 d-flex"></textarea>
            </div>

            <!-- IMAGE PREVIEW  -->
            <div class="imagePreview mb-3" *ngIf="imageURL && imageURL !== ''">
                <img [src]="imageURL" class="imgPreview">
            </div>

            <div class="d-flex justify-content-center mx-2">
                <!-- SELECTION DE L'IMAGE -->
                <button class="btn btn-secondary" type="button" onclick="document.getElementById('getFile').click()">Ajouter une image</button>
                <input #imageInput type='file' accept="image/*" id="getFile" style="display:none" (change)="showPreview($event)" />

                <button class="btn btn-primary ms-2" type="submit">Publier</button>
            </div>    
        </form>       
    </div>
</div>