<body class="text-center">

  <div class="container mt-4 alert alert-danger" role="alert" *ngIf="errorMsg">
    {{ errorMsg }}
  </div>

    <main class="form-signin">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <img src="../assets/images/logos/icon-above-font.svg" alt="" width="250" height="250">
        <h1 class="h3 mb-3 fw-normal">Connexion</h1>
        <label for="email" class="visually-hidden">Adresse email</label>
        <input type="email" id="email" class="form-control" placeholder="Adresse email" formControlName="email" required>
        <label for="password" class="visually-hidden">Mot de passe</label>
        <input type="password" id="password" class="form-control" placeholder="Mot de passe" formControlName="password" required>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Se souvenir de moi
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="loginForm.invalid">Se connecter</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2020 - Julien LECHAT</p>
      </form>
    </main>
  </body>