<div class="container">

    <div class="card text-center mt-4 mx-auto" style="max-width: 800px;">
        <div class="card-header d-flex align-items-center bg-white">
          <img src="../../assets/images/test.jpg" width="50" height="50" class="rounded-circle">
          <div class="ms-3 align-items-left">
              <p class="m-0 fw-bold text-start">Julien LECHAT</p>
              <p class="m-0 text-start text-muted gp-date">Publié le 17/12/2020 à 03:38</p>
          </div>
        </div>
        <div class="card-body p-0">
            <img src="https://mcdn.wallpapersafari.com/medium/48/66/H5MI2l.jpg" alt="" class="img-fluid img-actuality">
          <p class="card-text my-3">Ceci est une image de teste.</p>
        </div>
        <div class="card-footer text-muted d-flex justify-content-evenly px-2">
            <button type="button" class="btn gp-like">
                <i class="far fa-thumbs-up"></i>
                0
            </button>
            <div class="border-end"></div>
            <button type="button" class="btn gp-dislike">
                <i class="far fa-thumbs-down"></i>
                0
            </button>
        </div>
      </div>

</div>