.gp-date {
  font-size: 12px;
}
.img-actuality {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}
.gp-like,
.gp-dislike,
.gp-liked,
.gp-disliked {
  width: 160px;
  transition: 0.2s;
}
.gp-like:hover {
  color: green;
  font-weight: bold;
  transform: scale(1.15);
}
.gp-dislike:hover {
  color: red;
  font-weight: bold;
  transform: scale(1.15);
}
.gp-liked {
  color: green;
  font-weight: bold;
  transform: scale(1.15);
}
.gp-disliked {
  color: red;
  font-weight: bold;
  transform: scale(1.15);
}
.gp-cpt {
  width: 165px;
}
.card-header {
  padding: 0.5rem 0.5rem 0.5rem 0.8rem;
}
.likebar {
  padding: 2px;
}
