<div class="container">
    <app-file-upload></app-file-upload>

    <p *ngIf="actus!.length === 0" class="text-center">
      Votre fil d'actualité est vide.
    </p>

    
      <div *ngFor="let actu of actus" class="card text-center mt-4 mx-auto" style="max-width: 800px;">

        <div class="card-header d-flex justify-content-between bg-white">
          <div class="d-flex align-items-center">
            <img [src]="actu.img_profil" width="50" height="50" class="rounded-circle">
            <div class="ms-3 align-items-left">
              <p class="m-0 fw-bold text-start">{{ actu.firstname }} {{ actu.lastname }}</p>
              <p class="m-0 text-start text-muted gp-date">Publié le {{ actu.date }}</p>
            </div>
          </div>
          <div class="d-flex" *ngIf="actu.editable === true">
            <a (click)="deletePost(actu.postId)" style="cursor: pointer;">
              <i class="far fa-times-circle text-danger"></i>
            </a>
          </div>
        </div>

        <div class="card-body p-0">
            <img *ngIf="actu.img" [src]="actu.img" alt="" class="img-fluid img-actuality" id="dynamic" (click)="clicTest($event)">
            <p *ngIf="actu.text" class="card-text text-start my-3 mx-3">{{ actu.text }}</p>
        </div>
        <div class="card-footer text-muted d-flex justify-content-evenly px-2 likebar">
            <button (click)="likePost(actu.postId)" type="button" [ngClass]="(actu.liked && actu.liked > 0)?'btn gp-liked':'btn gp-like'">
                <i class="far fa-thumbs-up"></i>
                {{ actu.like }}
            </button>
            <div class="border-end"></div>
            <button (click)="dislikePost(actu.postId)" type="button" [ngClass]="(actu.liked && actu.liked < 0)?'btn gp-disliked':'btn gp-dislike'">
                <i class="far fa-thumbs-down"></i>
                {{ actu.dislike }}
            </button>
        </div>
      </div>

</div>